<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>To do list</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="css/style.css" rel="stylesheet">
</head>
<body>
<main class="mainContainer row">
    
        <section class="subContainer col-12 col-md-5">
            <form action="/todos/createTodo" method='POST'>
                <input type="text" placeholder="Enter a task" class="form-control" id="taskField" name='todoItem'>
                <button class="btn" type="submit">Add a task</button>
            </form>

            <section class="subMainContainer">
                <h2><%= user.userName.charAt(0).toUpperCase() + user.userName.slice(1) %> has <span class="numberOfTodos"> <%= left  %> </span>things left to do.</h2>
                <p><a href="/logout">Logout</a></p>
            </section>
        </section>
    
        <section class="subContainer todoListContainer col-12 col-md-5">
            <h1 class="container_h1">To Do List</h1>
            <ul>
            <% todos.forEach( el => { %>
                    <li class='todoItem' data-id='<%=el._id%>'>
                        <span class=' task <%= el.completed === true ? 'completed' : 'not'%>'><%= el.todo %></span>
                        <span class='del'> <i class="fa-solid fa-trash-can"></i></span>
                    </li>
            <% }) %>
            </ul>
        </section>
      
</main>

  

    <script src="js/main.js"></script>
</body>
</html>